<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/main.css" />
    <title>Welcome to Chat Support</title>
  </head>
  <body>
    <div class="navbar">
      <a class="navbar-brand" href="#">Chat Support</a>
      <div>
        <a href="#">Home</a>
        <a href="#">Filter</a>
        <a href="#">Create Ticket</a>
        <form>
            <button type="submit" class="logout-btn" type="submit" id="logout">LogOut</button>
        </form>
        
      </div>
    </div>

    <div class="welcome">
        <h1>Welcome to Chat Support</h1>
    </div>

    <!-- Your website content goes here -->
    <script src="js/logout.js"></script>
  </body>
</html>
