<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/register.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="gradient"></div>
    <div class="login-box">
      <% if (messages.error) { %>
      <div class="alert alert-danger">
        <strong><%= messages.error %></strong>
      </div>
      <% } %>
      <p>Register</p>
      <form onsubmit="signupFormHandler(event)">
        <div class="user-box">
          <input
            id="username-input"
            type="name"
            name="name"
            type="text"
            required
          />
          <label>Username</label>
        </div>
        <div class="user-box">
          <input
            id="first-name-input"
            type="name"
            name="name"
            type="text"
            required
          />
          <label>First Name</label>
        </div>
        <div class="user-box">
          <input
            id="last-name-input"
            type="name"
            name="name"
            type="text"
            required
          />
          <label>Last Name</label>
        </div>
        <div class="user-box">
          <input
            id="email-input"
            type="email"
            name="email"
            type="text"
            required
          />
          <label>Email</label>
        </div>
        <div class="user-box">
          <input id="password-input" name="password" type="password" required />
          <label>Password</label>
        </div>

        <a href="#">
          <button id="sign-up-btn" type="submit"></button>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Sign Up
        </a>
      </form>
      <p>Already have an account? <a href="/login" class="a2">Log in!</a></p>
    </div>
  </body>
</html>

<script src="js/signup.js"></script>
