<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/register.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="gradient"></div>
    <div class="login-box">
      <% if (messages.error) { %>
      <div class="alert alert-danger">
        <strong><%= messages.error %></strong>
      </div>
      <% } %>
      <p>Register</p>
      <!-- edit this so that is tendst to the route -->
      <form id="sign-up-form" action="/api/user/signup" method="POST">
        <div class="user-box">
          <input id="username-input" name="username" type="text" required />
          <label>Username</label>
        </div>
        <div class="user-box">
          <input id="first-name-input" name="firstName" type="text" required />
          <label>First Name</label>
        </div>
        <div class="user-box">
          <input id="last-name-input" name="lastName" type="text" required />
          <label>Last Name</label>
        </div>
        <div class="user-box">
          <input id ="email-input" name="email" type="email" required />
          <label>Email</label>
        </div>
        <div class="user-box">
          <input id="password-input" name="password" type="password" required />
          <label>Password</label>
        </div>

        <a href="#">
          <button type="submit"></button>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Sign Up
        </a>
      </form>
      <p>Already have an account? <a href="/login" class="a2">Log in!</a></p>
    </div>
  </body>
</html>

<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
<script src="/public/js/signup.js"></script>
