<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/userques.css" />
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"/>
    <title>Tickets</title>
  </head>
  <body>
    <!-- Navbar with back button -->
    <nav>
      <a href="/main" onclick="history.back()">Back</a>
    </nav>

    <h1>My Ticketing System</h1>

    <button id="create-ticket-button" type="submit">Create Ticket</button>

    <div id="new-ticket-view">
      <h2>Create New Ticket</h2>
      <form id="new-ticket-form">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" />

        <label for="message">Message:</label>
        <textarea id="message" name="message"></textarea>

        <button type="submit" id="submitTicketBtn">Submit Ticket</button>
      </form>
    </div>
  </body>
  <script src="js/createticket.js"></script>
  <script>
    const session_user_id = <%= id %>;
  </script>
</html>
